p {
    margin: 0;;
}

.header-youtube {
   width: 320px;
   float: left;
   margin: 10px;
}
.head-img {
    position: relative;
}
.head-img img {
    width: 100%;
}

.img-time {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
}

